main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.titulo {
	width: 200px;
}

.autor {
	width: 200px;
}

.descricao {
	width: 400px;
	;
}

.tiragem {
	width: 100px;
}

/* html {
}

.headerIcon{
} */